html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	background: #f9f9f3;
}
body * {
	font-family:'Marvel', sans-serif;
	font-size: 14px;
}

#wrapper {
	height: 100%;
	width: 100%;
	min-height: 650px;
	min-width: 900px;
	padding-top: 1px;
}
#slider {
	margin: 100px 0 0 0;
	height: 500px;
	overflow: hidden;
	background: url(images/ajax-loader.gif) center center no-repeat;
}

#slider .slide {
	position: relative;
	display: none;
	height: 500px;
	float: left;
	background-position: center right;
	cursor: pointer;
	border-left: 1px solid #fff;
}

#slider .slide:first-child {
	border: none;
}

#slider .slide.active {
	cursor: default;
}


@media (min-width: 980px){
#slider .slide-block {
	position: absolute;
	left: 6%;
	bottom: 75px;
	display: inline-block;
	width: 435px;
	background-color: #fff;
	background-color: rgba(255,255,255, 0.8);	
	padding: 20px;
	font-size: 14px;
	color: #134B94;
	border: 1px solid #fff;
	overflow: hidden;
	border-radius: 4px;
}

#slider .slide-block h4 {
	font-size: 36px;
	font-weight: bold;
	margin: 0 0 10px 0;
	line-height: 1;
}

}

@media (min-width: 491px) and (max-width: 980px){
#slider .slide-block {
	position: absolute;
	left: 3%;
	bottom: 75px;
	display: inline-block;
	width: 435px;
	background-color: #fff;
	background-color: rgba(255,255,255, 0.8);	
	padding: 20px;
	font-size: 14px;
	color: #134B94;
	border: 1px solid #fff;
	overflow: hidden;
	border-radius: 4px;
}

#slider .slide-block h4 {
	font-size: 36px;
	font-weight: bold;
	margin: 0 0 10px 0;
	line-height: 1;
}
}

@media (max-width: 491px){

#slider .slide-block {
	position: absolute;
	left: 0%;
	bottom: 75px;
	display: inline-block;
	width: 60%;
	background-color: #fff;
	background-color: rgba(255,255,255, 0.8);	
	padding: 20px;
	font-size: 14px;
	color: #134B94;
	border: 1px solid #fff;
	overflow: hidden;
	border-radius: 4px;
}

#slider .slide-block h4 {
	font-size: 26px;
	font-weight: bold;
	margin: 0 0 10px 0;
	line-height: 1;
}
}


#donate-spacer {
	height: 0;
}
#donate {
	border-top: 1px solid #999;
	width: 750px;
	padding: 50px 75px;
	margin: 0 auto;
	overflow: hidden;
}
#donate p, #donate form {
	margin: 0;
	float: left;
}
#donate p {
	width: 650px;
	color: #999;
}
#donate form {
	width: 100px;
}